:root{
    --white:#fff;
    --main-font: 'HelveticaNeueW01-55Roma','neue-haas-unica', sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--white);
    color: black;
    font-family: var(--main-font);
}

html {
    overflow-x: hidden;
}