{{> head}}
{{> navbar}}
<main>
    <article>
    {{#post}}
      <div id="post-entry" class="my-16 p-4">
          <h1 class="bitfont text-2xl">Some features just look good</h1>
         {{{text}}}
      </div>
    {{/post}}
    </article>
</main>

{{> footer}}